@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .background {
  background-color: white;
  width: 375px;
  height: 5219px;
  position: relative;
}
body .orange_tete, body .image_oeuf {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 538px;
  background: url(assets/images/photos/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .orange_tete .logo, body .image_oeuf .logo {
  position: absolute;
  width: 126px;
  top: 32px;
  left: 24px;
}
body .orange_tete .lignes, body .image_oeuf .lignes {
  position: absolute;
  top: 32px;
  right: 24px;
}
body .orange_tete .arrow_down, body .image_oeuf .arrow_down {
  position: absolute;
  width: 30px;
  height: 107.48px;
  top: 260px;
}
body .orange_tete .creatives, body .image_oeuf .creatives {
  padding-left: 20px;
  padding-bottom: 200px;
  width: 327px;
  height: 98px;
  color: white;
  line-height: 49px;
  font-style: normal;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces 9pts Soft", serif;
  font-weight: 900;
  font-size: 40px;
}
body .image_oeuf {
  background: url(assets/images/photos/image-transform.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 375px;
  height: 312px;
  margin-bottom: 64px;
}
body .transform_brand, body .stand_out {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 309px;
}
body .transform_brand .transform_your_brand, body .stand_out .transform_your_brand, body .stand_out .titre_stand_out {
  width: 327px;
  height: 78px;
  text-align: center;
  letter-spacing: -0.23px;
  line-height: 39.46px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  font-style: normal;
}
body .transform_brand .text_tranform_your_brand, body .stand_out .text_tranform_your_brand, body .stand_out .text_stand_out {
  color: #808397;
  width: 327px;
  height: 150px;
  line-height: 30px;
  letter-spacing: -0.13px;
  text-align: center;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
}
body .transform_brand .learn1, body .stand_out .learn1, body .stand_out .learn2 {
  width: 120px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  z-index: 1;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}
body .transform_brand .rectangle1, body .stand_out .rectangle1, body .stand_out .rectangle2 {
  align-self: center;
  width: 137px;
  height: 10px;
  background-color: #fad400;
  border-radius: 28px;
  position: absolute;
  bottom: 30px;
  z-index: 0;
  opacity: 0.25;
}
body .image_verre_rose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 350px;
}
body .image_verre_rose .verre {
  width: 375px;
  height: 312px;
}
body .stand_out .rectangle2 {
  background-color: #fe7766;
}
body .cerises, body .orange {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 600px;
  background: url(assets/images/photos/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
body .cerises .cerise_titre, body .cerises .Photography, body .orange .cerise_titre, body .orange .Photography {
  text-transform: uppercase;
  height: 35px;
  color: #24554a;
  margin-bottom: 27px;
  text-align: center;
  letter-spacing: -0.2px;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 28px;
}
body .cerises .cerises_text, body .cerises .orange_text, body .orange .cerises_text, body .orange .orange_text {
  margin-bottom: 59px;
  color: #24554a;
  text-align: center;
  letter-spacing: -0.11px;
  line-height: 27px;
  font-weight: 600;
  font-family: "barlow";
  font-size: 16px;
  font-style: normal;
}
body .orange {
  background: url(assets/images/photos/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
body .client {
  margin-top: 64px;
  color: #a7aaad;
  line-height: 19.73px;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 16px;
  font-style: normal;
}
body .emily, body .jennie, body .thomas {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  width: 375px;
}
body .emily .emily_photo, body .jennie .emily_photo, body .jennie .jennie_photo, body .thomas .emily_photo, body .thomas .thomas_photo {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  margin-bottom: 32px;
}
body .emily .emily_text, body .jennie .emily_text, body .jennie .jennie_text, body .thomas .emily_text, body .thomas .thomas_text {
  color: #5b636d;
  line-height: 32px;
  letter-spacing: -0.13px;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
}
body .emily .emily_name, body .jennie .emily_name, body .jennie .jennie_name, body .thomas .emily_name, body .thomas .thomas_name {
  color: #24303e;
  line-height: 22.19px;
  letter-spacing: -0.13px;
  text-align: center;
  margin-bottom: 9px;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 18px;
  font-style: normal;
}
body .emily .emily_post, body .jennie .emily_post, body .jennie .jennie_post, body .thomas .emily_post, body .thomas .thomas_post {
  color: #a7aaad;
  line-height: 25px;
  letter-spacing: -0.1px;
  text-align: center;
  font-weight: 600;
  font-family: "barlow";
  font-size: 14px;
  font-style: normal;
}
body .jennie {
  margin-bottom: 86px;
}
body .images {
  width: 375px;
  height: 375px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}
body .images .milkbottles {
  width: 187.5px;
  height: 187.5px;
  background: url(assets/images/photos/image-gallery-milkbottles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1/1;
}
body .images .orange_assiette {
  width: 187.5px;
  height: 187.5px;
  background: url(assets/images/photos/image-gallery-orange.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1/2;
}
body .images .cone {
  width: 187.5px;
  height: 187.5px;
  background: url(assets/images/photos/image-gallery-cone.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 2/1;
}
body .images .sugar {
  width: 187.5px;
  height: 187.5px;
  background: url(assets/images/photos/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 2/2;
}
body .contacts {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 350px;
  background-color: #90d4c6;
}
body .contacts .logo2 {
  position: absolute;
  width: 170px;
  height: 33px;
  top: 64px;
  filter: invert(80%) sepia(90%) saturate(300%) hue-rotate(118deg) brightness(100%) contrast(50%);
}
body .contacts .about {
  position: absolute;
  top: 137px;
  left: 39px;
  color: #458d7e;
  letter-spacing: -0.13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
}
body .contacts .services {
  position: absolute;
  top: 137px;
  left: 144px;
  color: #458d7e;
  letter-spacing: -0.13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
}
body .contacts .Projects {
  position: absolute;
  top: 137px;
  left: 270px;
  color: #458d7e;
  letter-spacing: -0.13px;
  line-height: 25px;
  font-weight: 600;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
}
body .contacts .facebook, body .contacts .pinterest, body .contacts .twitter, body .contacts .instagram {
  position: absolute;
  top: 250px;
  left: 104px;
  width: 20px;
  height: 20px;
}
body .contacts .instagram {
  left: 152px;
}
body .contacts .twitter {
  left: 200px;
}
body .contacts .pinterest {
  left: 248px;
}/*# sourceMappingURL=sunnyside-agency.css.map */